@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0%;
  padding: 0%;
  color: white;
  font-family: 'Poppins', sans-serif;
}
#image{
  margin:10px;
}

a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

.top{
  list-style-type: none;
  margin-top: 20px;
  margin-left: 30px;
  line-height: 30px;
}
#top{
  list-style-type: none;
  margin-top: 20px;
  margin-left: 30px;
  line-height: 30px;
}
#bottom{
  margin-top: 60px;
  margin-left: 30px;
  font-size: 15px;
  line-height: 30px;
  list-style-type: none;
}
#last{
 text-align: center;
 margin-top: 100px;
}
.Sidebar{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  width: 200px;
  height: 100%;
}
#last{
  color: white;
  text-align: center;
  font-size: medium;
  font-weight: 5;
}
.main{
  background-color: #04090A;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: 200px;
  padding: 20px;
}
#greating{
  margin-top: 30px;
  font-size: 25px;
}
.options{
      background-color: #04090A;
      position: flex;
      list-style: none;
}
.main h3{
  margin-left: 20px;
  margin-top: 50px;
}
.main ul{
  margin-top: 20px;
  margin-left: 5px;
}
.main ul li{
  display: inline;
  margin-right: 25%;
  font-size: medium;
}
.main h4{
  margin-top: 70px;
  margin-left: 20px;
}
.main h4 a{
  margin-left: 60%;
}
.cart img{
     margin-left: 30px;
     margin-top: 40px;
}
.cart p{
    left:50px;
    font-size: small;
    position: relative;
}
.cart ul li{
  display: inline;
}
.cart li .songname{
  font-size: 10px;
  margin-top: 5px;
}